.interactive-container {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--colorCyan);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    background-color: var(--colorMusgo);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    height: 60%;
    width: 80%;
}

.interactive-container .fatosh2 {
    margin: -50px 0 0 0;
}

.interactive-container p {
    font-size: 1.2rem;

    color: var(--colorBlack);
}

.interactive-container button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 auto;
    background-color: var(--colorCyan);
    color: var(--colorWithe);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.interactive-container button:hover {
    background-color: var(--colorGreen);
}

@media screen and (max-width: 768px) {
    .interactive-container{
        margin: 15% 0 0 10%;
    }
}    
@media screen and (max-width: 480px){
    .interactive-container{
        margin: 5% 0 0 5%;
    }
}